/* Hamburger menu */
.hamburger{
    position: fixed;
    display: block;
    z-index: 100;
    height: 50px;
    width: 50px;
    right: 10px;
    cursor: pointer;
    background-color: white;
    border: none;
    flex-direction: column;
}
.hamburger:hover{
    background-color: slategray;
    border-radius: 3px;
}

/* Menu open icon */
.hamburger div{
    position: relative;
    left: 3%;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 8px 0;
}

/* Menu close icon */
.hamburger .x-button{
    position: relative;
    top: -45%;
    left: 5%;
    width: 35px;
    height: 0px;
    font-size: 40px;
    color: black;
}

/* Navbar */
.navbar{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5vh;
}
.navbar hr{
    width: 100%;
    border-color: black;
}
.navbar .nav-link{
    z-index: 99;
    display: flex;
    font-size: 80%;
    text-decoration: none;
    color: black;
}
.navbar .nav-link:hover{
    opacity: 50%;
}

/* Main container */
html{
    font-size: calc(16px + .1vh);
    font-family: "Open Sans", "Lato", "Helvetica", sans-serif, serif;
}
main{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
main header{
    font-weight: bold;
}
main div{
    padding-bottom: 10px;
}
code{
    background: gainsboro;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.section-header{
    font-size: 250%;
}
.stop-scrolling{
    max-width: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: orange;
}
a:hover{
    color: #e69500
}

/* Reference index */
.index-api{
    font-size: 160%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
}
.index-api-list{
    list-style: disc;
    padding-bottom: 10px;
}
.index-api-item{
    padding-bottom: 10px;
}

/* Main section general */
.main-section header{
    padding-bottom: 20px;
}
.main-section .api-query-list{
    list-style: none;
    margin-left: -40px;
}
.main-section .api-query-list li:first-child{
    padding-top: 0px;
}
.main-section .api-query{
    font-size: 160%;
    font-weight: bold;
    padding-top: 50px;
}

/* Main section query request */
.main-section .request{
    font-size: 110%;
}
.main-section .request table{
    font-size: 80%;
    border-collapse: collapse;
    line-height: 1.5;
    width: 100%;
}
.main-section .request .table-item{
    font-size: 120%;
}
.main-section .request tr {
    border: solid;
    border-color: lightgray;
    border-left: none;
    border-right: none;
}
.main-section .request tr:first-child{
    border-top: none;
}
.main-section .request tr:last-child{
    border-bottom: none;
}
.main-section .request th{
    text-align: left;
    font-weight: normal;
    padding-bottom: 5px;
}
.main-section .request td{
    padding-top: 5px;
    padding-bottom: 15px;
}
.main-section .request .required{
    font-weight: bold;
}
.main-section .request .optional{
    font-style: italic;
}
.main-section .request .type-required{
    width: 10%;
}


/* Main section query response */
.main-section .response{
    font-size: 110%;
}
.main-section .response span{
    font-size: 90%;
    font-weight: bold;
}
.main-section .response ul{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 90%;
    list-style: disc;
}
.main-section .response li{
    margin: 10px;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hamburger{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hamburger{
        display: none;
    }
}