/* Hamburger menu */
.hamburger{
    position: fixed;
    display: block;
    z-index: 100;
    height: 50px;
    width: 50px;
    right: 10px;
    cursor: pointer;
    background-color: white;
    border: none;
    flex-direction: column;
}
.hamburger:hover{
    background-color: slategray;
    border-radius: 3px;
}

/* Menu open icon */
.hamburger div{
    position: relative;
    left: 3%;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 8px 0;
}

/* Menu close icon */
.hamburger .x-button{
    position: relative;
    top: -45%;
    left: 5%;
    width: 35px;
    height: 0px;
    font-size: 40px;
    color: black;
}

/* Navbar */
.navbar{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5vh;
}
.navbar hr{
    width: 100%;
    border-color: black;
}
.navbar .nav-link{
    z-index: 99;
    display: flex;
    font-size: 80%;
    text-decoration: none;
    color: black;
}
.navbar .nav-link:hover{
    opacity: 50%;
}

/* Main content */
main{
    display: flex;
    flex-direction: column;
}
.stop-scrolling{
    max-width: 100%;
    overflow: hidden;
}

/* Main sections */
.main-section{
    font-size: calc(16px + .1vh);
}
.main-section header{
    font-size: calc(40px + .25vh);
    font-weight: bold;
}
.main-section ul{
    list-style: none;
}
.main-section li{
    font-size: calc(20px + .125vh);
    font-weight: bold;
}
.main-section .sub-header{
    font-size: calc(20px + .125vh);
}

/* Table content */
table{
    border-collapse: collapse;
    line-height: 1.5;
    width: 100%;
}
code{
    background: gainsboro;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

/* Table rows */
tr {
    border: solid;
    border-color: lightgray;
    border-left: none;
    border-right: none;
}
tr:first-child{
    border-top: none;
}
tr:last-child{
    border-bottom: none;
}
td{
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Table header */
th{
    text-align: left;
    font-weight: normal;
    padding-bottom: 5px;
}

/* Table classes */
.type-required{
    width: 10%;
}
.table-link{
    text-decoration: none;
    color: orange;
}
.table-link:hover{
    color: #e69500
}
.table-item{
    font-size: 120%;
}
.required-parameter{
    font-weight: bold;
}
.optional-parameter{
    font-style: italic;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hamburger{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hamburger{
        display: none;
    }
}